.header {
    display: flex;
    min-height: 10vh; 
    background-color: #4e5381;
    margin-top: 0; 
    
    justify-content: space-between; 
    flex-direction: row;

    align-items: center;
}

.headerTitle {
    color: #F5FFFA;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.headerLogin {
    outline: none;
    background: none;
    border: none;
    color: #F5FFFA;
    margin-right: 10px;
    font-size: 1.25rem;
}